* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #24292e;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #0366d6;
  text-decoration: none;
}

pre {
  border-radius: 5px;
  width: 120%;
  margin-left: -10% !important;
  font-size: 14px;
  background-color: #fdf6e3;
  padding: 15px;
}

@media (max-width: 720px) {
  pre {
    width: 105%;
    margin-left: -2.5% !important;
  }
}
